.form-buttons {
    position: relative;
    width: 100%;
    text-align: right;
}

.form>.form-buttons>button[type=submit] {
    text-decoration: none;
    color: var(--white);
    background-color: var(--purple);
    text-align: center;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    margin-top: 16px;
    /* display: block; */
    /* float: right; */
    /* position: absolute;
    right: 0; */
}

.form>.form-buttons>button[type=submit]:hover {
    background-color: var(--dark-blue);
}

.form {
    margin: 8px 16px;
}